@font-face{ 
	font-family: 'Nexa';
	src: url('font/nexa.woff') format('woff');
}

.background-img{
	width: 100%;
}
.intro{
	margin : 10%;
	margin-top : 3%;
	padding : 3% !important;
	background-color: white;
	box-shadow: 2px 2px 18px -2px rgba(0,0,0,0.21);
}

.section1{
	background-color: #add0ff;
	padding-top: 7%;
}
.section-title{
	margin-left: 12%;
	color : #000;
	font-size: 42px;
}
.section-text{
	color : #000;
	font-size: 22px;
}
.icon{
	color : #4b7eff;
}
.footer{
	padding: 2%;
	color : #fff;
	background-color : #3C65CC;
	font-size : 16px;
	font-weight: 100;
	text-align: center;
}
#main {

  padding: 6% 10%;
  background-repeat: no-repeat;
  background-image: url('image/bg.jpg');
  background-size: 100%;
  background-attachment: fixed;
  margin-top: 50px;
  margin: 0 auto;

}
.main-title{
	text-align: center;
	margin-top: 20%;
	color : #fff;
}
#sunrin-text{
	font-size: 100px;font-family: 'Nexa', Arial, sans-serif; 	line-height: 30px;
}
#networking-text{
	font-size: 54px;font-family: 'Nexa', Arial, sans-serif;	line-height: 50px;
}
#day2016-text{
	font-size:84px;font-family: 'Nexa', Arial, sans-serif;	line-height: 60px;
}
#logo{
	margin-top:10%;
	margin-left: 40%;
	width: 20%;
}